.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__content {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000;
}
